<div class="row clearfix">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>Empresa: </strong> {{labelBtn}}</h2>
            </div>
            <div class="body">
                <form class="register-form m-4" [formGroup]="register">

                    <input type="hidden" formControlName="id">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Razón Social</mat-label>
                                <input matInput formControlName="name" required maxlength="100">
                                <mat-icon matSuffix>location_city</mat-icon>
                                <mat-error *ngIf="register.get('name').hasError('required')">
                                    La Razón Social es obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>RUC</mat-label>
                                <input matInput formControlName="ruc" required maxlength="11" appDigitOnly>
                                <mat-icon matSuffix>format_list_numbered</mat-icon>
                                <mat-error *ngIf="register.get('ruc').hasError('required')">
                                    El RUC es obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Correo Electrónico</mat-label>
                                <input matInput formControlName="email" required maxlength="150">
                                <mat-icon matSuffix>email</mat-icon>
                                <mat-error *ngIf="register.get('email').hasError('required') || register.get('email').touched">
                                    El Correo Electrónico es obligatorio y debe ser valido
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Sitio Web</mat-label>
                                <input matInput formControlName="website" required maxlength="150">
                                <mat-icon matSuffix>web</mat-icon>
                                <mat-error *ngIf="register.get('website').hasError('required')">
                                    El Sitio Web es obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Dirección</mat-label>
                                <input matInput formControlName="address" required maxlength="150">
                                <mat-icon matSuffix>email</mat-icon>
                                <mat-error *ngIf="register.get('address').hasError('required')">
                                    La Dirección es obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Telefono</mat-label>
                                <input matInput formControlName="phone" required maxlength="10" appDigitOnly>
                                <mat-icon matSuffix>phone</mat-icon>
                                <mat-error *ngIf="register.get('phone').hasError('required')">
                                    El Telefono es obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Celular</mat-label>
                                <input matInput formControlName="mobile" required maxlength="9" appDigitOnly>
                                <mat-icon matSuffix>settings_cell</mat-icon>
                                <mat-error *ngIf="register.get('mobile').hasError('required')">
                                    El Celular es obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>IGV (%)</mat-label>
                                <input matInput formControlName="igv" required maxlength="7" appTwoDigitDecimaNumber>
                                <mat-icon matSuffix>gavel</mat-icon>
                                <mat-error *ngIf="register.get('igv').hasError('required')">
                                    El IGV es obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Simbolo de Moneda</mat-label>
                                <input matInput formControlName="currency_symbol" required maxlength="10">
                                <mat-icon matSuffix>monetization_on</mat-icon>
                                <mat-error *ngIf="register.get('currency_symbol').hasError('required')">
                                    El Simbolo de Moneda es obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <mat-checkbox class="example-margin" formControlName="is_active">I accept
                                terms
                                and conditions
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <button class="msr-3" [disabled]="!register.valid" mat-raised-button
                                color="primary" (click)="guardar()">{{labelBtn}}</button>
                            <button type="button" mat-button (click)="limpiar()">Limpiar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>