<section class="content">
    <div class="container-fluid">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="header">
              <h2><strong>Evento</strong> Pagina</h2>
            </div>
            <div class="body">

               <!-- Inicio - Add content here -->
            <div *ngIf="isListMode; else elseBlock">
              <button mat-raised-button color="primary" (click)="listMode()">Registrar</button>

              <app-evento-listar (sendEvento)='sendEvento($event)'></app-evento-listar>
            </div>
            <ng-template #elseBlock>
              <button mat-raised-button color="primary" (click)="listMode()">Regresar</button>

              <app-evento-crear (changeListMode)='listMode()' [sendObj]="sendObjEvento"></app-evento-crear>
            </ng-template>
            <!-- Fin - Add content here -->
       
              <!-- Add content here -->
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  