.adicional-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
.adicional-radio-button {
    margin: 5px;
  }
  
  .flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
  }
  
  .flexbox-container > div {
    width: 30%;
    padding: 10px;
    background: #fff;
  }
  
  .flexbox-container > div:first-child {
    margin-right: 10px;
  }

  
  